body {
    background-color: #2ecc71;
    margin: 0;
}

.content {
    width: 500px;
    margin: 0 auto;
    background-color:  #FFF;
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

.header {
    padding: 30px 0;
    background: #f39c12;
    color: white;
}

.footer {
    background: #7f8c8d;
    text-transform: uppercase;
    font-weight: bold;
}

.footer p {
    margin: 0;
    padding: 30px 0px 15px 20px;
}